* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Poppins', sans-serif;
}

.hero {
   
    background : #1d2026;
    min-height : 100vh;
    width : 100%;
    color : #270a0a;
    position : relative;
    
}

.text-control {
    position : absolute;
    top : 10%;
    left : 30%;
    font-size : 20px;
    color: antiquewhite;
}

.header {
    position : absolute;
    top : 0;
    left : 0;
    color : #40E0D0;
    font-size : 30px;
}

.wind-speed-control {
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700;
    border : 2px solid #1d2026;
    width: 100px;
    margin-top: 10px;
    margin-left: 700px;
    padding : 10px 10px;
    text-align : center;
    
}

.temperature-speed-control {
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700;
    border : 2px solid #1d2026;
    padding : 10px 10px;
    text-align : center;
    width: 100px;
    margin-top: -57px;
    margin-left: 830px;
}

.temperature-speed-control:active {
   
    box-shadow: none;
    transform: translateY(5px);
}
.wind-speed-control:active {
   
    box-shadow: none;
    transform: translateY(5px);
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
}
button:focus{
    outline: none;
    border: none;
}